body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 79px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 5%;
}
.menu-item {
  display: flex;
  align-items: center;
}

.area-section {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
}
.logo:hover {
  color: rgba(60, 184, 120, 1);
}
.icon {
  padding-right: 25px;
}
.icon-activ img {
  box-sizing: border-box;
}
.mail-diferent {
  max-width: 24px;
  max-height: 25px;
}
.cabinet {
  position: relative;
  margin-left: 27px;
}
input {
  color: black;
}
.cabinet::before {
  content: '';
  position: absolute;
  left: -27px;
  top: -3px;
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.2;
}
.icon-activ {
  display: none;
}
.icon:hover .icon-defolt {
  display: none;
}
.icon:hover .icon-activ {
  display: block;
}
.cabinet {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.authorization {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.authorization:hover {
  opacity: 1;
  color: rgba(60, 184, 120, 1);
  transition: 0.7s;
}

.welcom-wrapper,
.login {
  color: rgba(255, 255, 255, 0.2);
}

.sign-wrapper {
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  width: 444px;
  box-sizing: border-box;
  padding: 31px 60px 0px;
}
.header-forms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
}
.social-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: flex;
  align-items: center;
  border-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border-radius: 5px;
  margin-bottom: 34px;
}
.decor-form {
  padding-bottom: 7px;
}
.decor-form::after {
  content: '';
  width: 151px;
  border: 1px solid #f2f2f2;
}
.decor-form::before {
  content: '';
  width: 151px;
  border: 1px solid #f2f2f2;
}
.fcb-btn {
  background: #305db8;
  padding: 12px 24px 11px 16px;
}
.fcb-btn:hover {
  background: #022263;
  transition: 0.7s;
}
.gogl-btn {
  background: #df4a32;
  padding: 15px 24px 14px 14px;
}
.gogl-btn:hover {
  background: #ab1f09;
  transition: 0.7s;
}
.gogl-btn img {
  margin-right: 38px;
}
.fcb-btn img {
  margin-right: 32px;
}
.wrapper-area {
  position: relative;
}
.area-sign {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.area-login {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
.area-login:hover {
  text-decoration: underline;
}
.area-sign::before {
  content: '';
  width: 18px;
  height: 18px;
  left: 0px;
  top: 30px;
  background: #3cb878;
  position: absolute;
}
.decor-form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}
.reg-form {
  display: flex;
  flex-direction: column;
}
.reg-form .input-items {
  height: 44px;
  padding-left: 19px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin-bottom: 16px;
  outline: none;
}

.reg-form input:nth-child(5) {
  margin-bottom: 0px;
}
.check-area {
  position: relative;
  display: flex;
}
.input-check {
  position: absolute;
  display: block;
  left: -2px;
  top: 5px;
  z-index: 1;
  bottom: 20px;
  opacity: 0;
  cursor: pointer;
  zoom: 2;
}
.input-check + label::before {
  content: '';
  display: inline-block;
  position: absolut;

  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  margin-right: 8px;
  margin-top: 12px;
  margin-bottom: 15px;
}
.input-check:checked + label::before {
  background-image: url(../img/checked.svg);
}
.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #434343;
}
.conditions {
  color: rgba(60, 184, 120, 1);
  margin-left: 5px;
  position: relative;
}
.conditions:after {
  content: '';
  position: absolute;
  width: 0px;
  bottom: -5px;
  right: 0;
  left: 5px;
  border: 1px solid #01813f;
  opacity: 0;
  transition: 0.7s;
}
.conditions:hover::after {
  width: 120px;
  opacity: 1;
}

.input-check:checked {
  border: 1px solid #848484;
}
.create {
  border-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  padding: 16px 99px;
  width: 324px;
  margin-bottom: 38px;
}
.create:hover {
  background: #01813f;
  transition: 0.7s;
}
input:focus {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}
